header{text-align: center;
    color:black;
    margin:1px;
    font-size:1.8em;
}




#navbar li {
    color: #4d4e53;
    border:0px solid;
    border-bottom-width:0px;
    padding:8px;
    padding-left:-5opx;
    list-style:none;
    left:-700px;
    width:150px;
    height: 100%;
    
    
}
li{
    display:list-item;
    text-align:-webkit-match-parent;
}
#navbar a{cursor:pointer;

}
a: -webkit-any-link {text-decoration:underline}
ul, menu, dir {display:block;
    margin-block-start:1em;
    margin-block-end:1em;
    margin-inline-start:0px;
    margin-inline-end:0px;
    padding-inline-start:40px;
}
html,body {
    min-width:290px;
    background-color: #ffffff;
    font-family:'open sans',arial,sans-serif;
    line-height:1.5;

}
article,aside,main,nav,section{
    display:block;
}
#u1{width:200px;
height: 100%;
float: left;
background-color: f4f4f4;
padding:10px;
border-right:1px solid black;
position: fixed;

}

 #u2{ width:700px;
height: 100%;
float:right;
padding:20px;
}
